<a href="https://colab.research.google.com/github/lexxxegorov/HOMEWORKPY/blob/master/HOME__1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задание1
**На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе**

In [ ]:
def total_fruits (**kwargs: dict) -> int:

  return {'total fruits': kwargs,'summary': sum(kwargs.values())}

In [ ]:
total_fruits(banana = 400, apple = 100, orange = 300)

{'total fruits': {'banana': 400, 'apple': 100, 'orange': 300}, 'summary': 800}

##Задание2
**Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions**

In [ ]:
initial_price = [100, 125, -90, 345, 655, -1, 0, 200]

In [ ]:
prices = [i if i > 0 else 0 for i in initial_price ] 
summary = sum(prices)
f'sum:{prices} = {summary}'

'sum:[100, 125, 0, 345, 655, 0, 0, 200] = 1425'

##Задание4
###Условие 4.1:
**Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]**

**Найдите, какая выручка у компании в ноябре**

In [ ]:
date_sale = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [ ]:
date_amounts = dict(zip(date_sale,amounts))
date_amounts

In [ ]:
sum([value for key, value in zip(date_sale, amounts) if key[5:7] == "11"])

25098

**4.2 Найдите bold text выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.**

In [ ]:
def sum_month(date_sale: list, amounts: list) -> dict:
    result = {}
    for key, values in zip(date_sale, amounts):
        if key[5:7] in result.keys():
            result[key[5:7]] = result[key[5:7]] + values
        else:
            result[key[5:7]] = values
    return result
 
sum_month(date_sale, amounts)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}